@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@theme {
  --aspect-retro: 1 / 1;
}
.dark {
  --background: #101829;
  --foreground: #ededed;
}

body {
  @apply bg-[var(--background)] text-[var(--foreground)] transition-colors duration-300;
}
.dropdown:focus-within .dropdown-menu {
  /* @apply block; */
  display: block;
}
